.header {
  height: 100%;
  width: 100%;
  line-height: 3rem;
  font-size: 2rem;
  text-align: left;
  z-index: 1;
  background-color: #52b788;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  h1 {
    font-size: 2rem;
    margin: 0 3rem;
  }
}
