.gaia-navbar {
  width: 5rem;
  background-color: hsl(116, 38%, 51%);
  height: 100vh;
  opacity: 0.8;
  transition: width 0.5s ease, opacity 0.5s ease;

  padding-top: 5rem;

  .gaia-navbar-link-list {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    .gaia-navbar-link {
      width: 100%;
      height: 5rem;
      display: flex;
      align-items: center;
      text-decoration: none;
      margin-bottom: 0.4rem;
      .gaia-navbar-link-icon {
        width: 3rem;
        height: 3rem;
        margin-left: 1rem;
        display: inline-block;
      }
      .gaia-navbar-link-text {
        display: none;
        margin-left: 1rem;
        font-size: 2rem;
      }
      &:hover,
      &:focus-within {
        background-color: hsl(116, 45%, 39%);
        outline: 1px solid white;
        outline-offset: -0.25rem;
        transition: outline-offset 0.2s ease;
      }
      &:active {
        outline-offset: -0.5rem;
      }
    }
  }

  &:hover,
  &:focus-within {
    opacity: 1;
    width: 12rem;
    .gaia-navbar-link-list {
      .gaia-navbar-link {
        .gaia-navbar-link-text {
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .gaia-navbar {
    width: 100%;
    height: 6rem;
    padding: 0;
    opacity: 1;
    overflow: auto;
    &:hover {
      width: 100%;
    }
    .gaia-navbar-link-list {
      height: 100%;
      flex-direction: row;
      .gaia-navbar-link {
        margin: 0;
        padding: 0 0.5rem;
        .gaia-navbar-link-icon {
          margin: 0;
        }
      }
    }
    &:hover,
    &:focus-within {
      opacity: 1;
      width: 100%;
      .gaia-navbar-link-list {
        .gaia-navbar-link {
          .gaia-navbar-link-text {
            display: none;
          }
        }
      }
    }
  }
}
