// https://fonts.google.com/specimen/Roboto+Mono?category=Monospace
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
.channel-spend-optimization-and-prediction-page {
  //add padding here if you need some space to the sides
  overflow: auto;
  overflow-x: hidden; //i tried fixing that space to the side in mobiles without this and i couldnt make it work. Good luck if you gotta remove this!
  padding: 1rem 2rem;
  .optimization-and-prediction {
    margin-bottom: 1rem;
    font-family: "Roboto Mono", monospace;
    .optimization-and-prediction-header {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      h1 {
        //temporary styles
        flex-grow: 1;
        margin: 1rem;
        min-width: 20rem;
        text-align: center;
      }
      .dates-form {
        flex-grow: 1;
        margin: 1rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        label {
          flex-grow: 1;
          display: grid;
          grid-template-columns: 1fr;
          h4 {
            margin: 0;
            padding: 0;
          }
          .forecast-dates-select,
          .start-date-input,
          .end-date-input {
            height: 2rem;
            border: 1px solid grey;
            border-radius: 3px;
            background-color: white;
            margin: 0 1rem;
            cursor: pointer;
            text-align: center;
          }
        }
      }
    }
    .budget-input {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 1rem;
      flex-wrap: wrap;

      label {
        width: max-content;
        margin-right: 1rem;
        font-size: 2rem;
        margin-bottom: 0.5rem;
      }
      input {
        flex-grow: 1;
        height: 2rem;
        cursor: pointer;
        border-radius: 3px;
        border: 1px solid grey;
        background-color: white;
        text-align: center;
      }
    }
    .channelmix-lead-pred {
      h2 {
        width: 100%;
        text-align: center;
        margin: 1rem 0 0 0;
      }
      .input-card-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        .input-card {
          min-width: fit-content;
          margin: 1rem;
          display: grid;
          grid-template-areas: "title title" "formatted-value input" "text button";
          grid-template-columns: 1fr 1fr;
          gap: 0.5rem 1rem;

          label {
            height: 2rem;
            line-height: 2rem;
            overflow: hidden;
            width: 100%;
          }
          .title {
            grid-area: title;
          }
          .formatted-value {
            grid-area: formatted-value;
            text-align: right;
            overflow: hidden;
            max-width: 20ch;
            text-overflow: ellipsis;
          }
          input {
            grid-area: input;
            height: 2rem;
            cursor: pointer;
            border-radius: 3px;
            border: 1px solid grey;
            background-color: white;
            text-align: center;
            &::before {
              content: "$";
            }
          }
          p {
            grid-area: text;
            text-align: center;
            line-height: 2rem;
            color: #477050;
            font-weight: bold;
            margin-right: 0.5rem;
          }
          button {
            grid-area: button;
            border-radius: 3px;
            background-color: white;
            border: 1px solid lightgray;
            border-radius: 3px;
            font-weight: bold;
            font-size: 1rem;
            cursor: pointer;
            transition: 0.2s;
            position: relative;
            &:hover {
              background-color: #ced4da;
            }
            &:active {
              background-color: #adb5bd;
            }
          }
        }
      }
      .prediction-buttons {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
        button {
          height: 10vh;
          font-size: 2rem;
          min-width: 12rem;
          cursor: pointer;
          border-radius: 0;
          border: none;
          background-color: #0077b6;
          color: white;
          outline: 1px solid white;
          transition: 0.1s ease;
          &:hover,
          &:focus {
            background-color: #023e8a;
            outline-offset: -0.5rem;
            text-decoration: 1px underline white;
          }
          &:active {
            background-color: #03045e;
            outline-offset: -1rem;
          }
          &.run-optimization {
            background-color: #38b000;
            &:hover,
            &:focus {
              background-color: #008000;
            }
            &:active {
              background-color: #007200;
            }
          }
        }
      }
      .predictions {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
        .lead-prediction,
        .spend-optimization {
          margin: 1rem;
          border: 1px solid black;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex-wrap: wrap;
          h3 {
            margin: 0;
            text-align: center;
            width: 100%;
          }
          .leads,
          .roi {
            width: 6rem;
            height: 6rem;
            text-align: center;
            border: 1px solid grey;
            margin: 1rem;
          }
        }
      }
      .prediction-and-optimization-details {
        width: 100%;
        background-color: #262626;
        color: white;
        cursor: pointer;
        summary {
          height: 3rem;
          line-height: 3rem;
          padding: 0 1rem 0 3rem;
          display: grid;
          //we have 4 columns because the 4th represents the arrow
          grid-template-columns: min-content min-content 1fr 1rem;

          &:hover,
          &:focus {
            background-color: #363636;
          }

          .timer {
            font-weight: bold;
            padding: 0 1rem;
          }
          .timer-description {
            font-size: 0.9rem;
            text-align: center;
            color: grey;
            line-height: 1;
            padding: 0 0.5rem;
          }

          .more-info-summary {
            text-align: right;
            padding-right: 3rem;
          }

          list-style: none;
          &::-webkit-details-marker {
            display: none;
          }
          &::after {
            content: "▼";
            transform: rotate(90deg);
            transform-origin: 0.3rem 50%;
            transition: 0.25s transform ease;
          }
        }
        .prediction-and-optimization-info {
          background-color: white;
          color: black;
          line-height: 1.5rem;
          font-size: 1rem;
          padding: 1rem;
        }
        &[open] summary:after {
          transform: rotate(0deg);
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .channel-spend-optimization-and-prediction-page {
    padding: 0;
    .optimization-and-prediction {
      .channelmix-lead-pred {
        .prediction-and-optimization-details {
          summary {
            padding: 0;
          }
        }
      }
    }
  }
}
