// https://fonts.google.com/specimen/Azeret+Mono?category=Monospace
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@200;500&display=swap");

.want-to-know-more {
  display: grid;
  font-family: "Azeret Mono";
  grid-template-columns: 5vw auto 5vw;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    ". want-to-know-more-text ."
    " . square-cards ."
    ". graphs .";
  gap: 1rem;
  background-color: #f8f9fa;
  border: 2px solid #6c757d;
  color: #343a40;

  .want-to-know-more-text {
    grid-area: want-to-know-more-text;
    .lightbulb-icon {
      width: 100px;
      height: 100px;
      float: left;
      margin: 0.5rem;
    }
    h2 {
      margin: 0.5rem;
      font-family: inherit;
    }
    p {
      font-family: inherit;
      line-height: 1.3rem;
    }
  }
  .square-cards {
    grid-area: square-cards;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
    gap: 1rem;
    .square-card {
      width: 7rem;
      height: 7rem;
      line-height: 1.5rem;
      text-align: center;
      border: 2px solid #6c757d;
      border-radius: 3px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .square-card-title {
        font-weight: bold;
        font-size: 0.9rem;
        margin-top: 1rem;
      }
      .square-card-value {
        font-weight: bold;
        letter-spacing: 1px;
        margin-bottom: 1rem;
        color: #495057;
      }
    }
  }

  .graphs {
    grid-area: graphs;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    .graph-container {
      position: relative;
    }
  }
}
