.app {
  position: relative;
  display: grid;
  // hey, be careful with 100vw. There's a bug that causes the 100vw to not take into consideration scrollbars, as it is the "literal" viewport width, including the scrollbar.
  // this can cause ugly scrollbars for no reason. Use 100% of the <body>'s width instead, that one ignores the scrollbar
  width: 100%;
  grid-template-rows: 6vh 94vh;
  grid-template-areas: "header" "content";
  .gaia-app-header {
    grid-area: header;
  }
  .gaia-app-content {
    grid-area: content;
  }
}
